/*
 *  __                  __
 * /\ \                /\ \
 * \ \ \___   __  __   \_\ \     __
 *  \ \  _ `\/\ \/\ \  /'_` \  /'__`\
 *   \ \ \ \ \ \ \_\ \/\ \_\ \/\  __/
 *    \ \_\ \_\/`____ \ \___,_\ \____\
 *     \/_/\/_/`/___/> \/__,_ /\/____/
 *                /\___/
 *                \/__/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/hyde.
 */


/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

@font-face {
  font-family: "Quattrocento Sans";
  src: url("/fonts/quattrocento-sans/QuattrocentoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quattrocento Sans Bold";
  src: url("/fonts/quattrocento-sans/QuattrocentoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/fonts/raleway/Raleway-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("/fonts/raleway/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("/fonts/raleway/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poiret One";
  src: url("/fonts/poiretone/PoiretOne-Regular.ttf") format("truetype");
}

html {
  font-family: "Quattrocento Sans", "PT Sans", Helvetica, Arial, sans-serif;
}

h1,h2,h3 {
  font-family: "Raleway Thin", sans-serif;
}
h3 .me {
  font-family: "Raleway Regular", sans-serif;
}
.me {
  font-family: "Quattrocento Sans Bold", sans-serif;
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

ul.thumbnails {
    padding: 0;
    list-style-type: none;
}

.acm-badge {
    margin: 0rem 1rem;
    width: 100px;
}

/*
 * Responsive iframe
 */
 .iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*
 * Samp
 */
samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

/*
 * Profile image on the main page
 */
.profile {
    width: 6rem;
    vertical-align: top;
    float: left;
    margin-right: 1rem;
    border-radius: 1rem;
    object-fit: cover;
  }

/*
 * Thumbnail styles
 */
img.thumb {
    border-radius: 1rem;
    object-fit: cover;
}

.thumb_entry {
    display: flex;
    justify-content: flex-start;
}

.thumb_entry_content {
    margin-bottom: 2rem;
}

.thumb_entry_bullet {
  width: 6rem;
  flex: none;
  margin-right: 1rem;
}

.small_thumb_entry_bullet {
    width: 10%;
    flex: none;
    margin-right: 2%;
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #23272b;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
  padding: 0.3em;
  margin: -0.3em;
}

.sidebar a:hover,
.sidebar a:focus {
  background-color: #444;
  text-decoration: none;
}

/* Sidebar logo links */

.sidebar-links a {
  color: #00ff66;
  font-size: 0.9rem;
}
.sidebar-links a:hover,
.sidebar-links a:focus {
  color: #fff;
  background-color: #23272b;
  text-decoration: none;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 2rem;
  font-family: "Poiret One", serif;
  font-size: 3.6rem;
}

/* Sidebar nav */
.sidebar-nav {
  padding-left: 0;
  list-style: none;
}
.sidebar-nav-item {
  display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    6rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 48rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48em) {
  .layout-reverse .sidebar {
    left: auto;
    right: 0;
  }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem;
  }
}

@media (min-width: 64em) {
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem;
  }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title-highlight {
  color: #00ff66;
}

/* Dian */
.theme-dian .sidebar {
  background-color: #23272b;
}
/*.theme-dian .content a,
.theme-dian .related-posts li a:hover {
  color: #ac4142;
}*/

/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */

/* Base16 (http://chriskempson.github.io/base16/#default) */

/* Red */
.theme-base-08 .sidebar {
  background-color: #ac4142;
}
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
  color: #ac4142;
}

/* Orange */
.theme-base-09 .sidebar {
  background-color: #d28445;
}
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
  color: #d28445;
}

/* Yellow */
.theme-base-0a .sidebar {
  background-color: #f4bf75;
}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
  color: #f4bf75;
}

/* Green */
.theme-base-0b .sidebar {
  background-color: #90a959;
}
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
  color: #90a959;
}

/* Cyan */
.theme-base-0c .sidebar {
  background-color: #75b5aa;
}
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
  color: #75b5aa;
}

/* Blue */
.theme-base-0d .sidebar {
  background-color: #6a9fb5;
}
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}

/* Magenta */
.theme-base-0e .sidebar {
  background-color: #aa759f;
}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
  color: #aa759f;
}

/* Brown */
.theme-base-0f .sidebar {
  background-color: #8f5536;
}
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
  color: #8f5536;
}

/* Ukraine Flag */
.ukraine_blue {
    background-color: #0057b7;
    color: #ffd700;
}
.ukraine_yellow {
    background-color: #ffd700;
    color: #0057b7;
}
.banner {
    position: fixed;
    width: 100%;
    z-index: 20;
}
