{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
  <div class="banner">
  <div style="text-align:center;width:100%" class="ukraine_blue">нет</div>
  <div style="text-align:center;width:100%"  class="ukraine_yellow">войне</div>
  </div>
  {{ partial "sidebar.html" . }}
    <main class="content container">
    {{ block "main" . -}}{{- end }}
    </main>

    {{ partial "sidebar_toy.html" . }}
  </body>
</html>
