{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ $known_authors := .Site.Data.known_authors }}
  {{ if .Params.authors }}
    {{ if (gt (len .Params.authors) 1) -}}
      <h3>
        {{ range .Params.authors }}
          {{ $author := . }}
          {{ $known_author := where $known_authors "name" (trim . "*") | first 1 }}
          {{ if $known_author }}
            {{ range $known_author }}
              <a href="{{ .url }}">
              {{ if strings.HasSuffix .name "Larionov" }}
                  <span class="me">{{ $author -}}</span>
              {{- else }}
                  {{ $author -}}
              {{- end -}}
              </a>,
            {{ end }}
          {{ else }}
            {{ . -}},
          {{ end }}
        {{ end }}
    </h3>
    {{ with .Params.author_note }}{{.}}<br>{{ end }}
    {{ end }}
  {{ end }}
  <p>
  {{ .Content }}
  </p>
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
