{{ $s := slice }}
{{ with .Params.pdf }} {{ $s = $s | append (printf "<a class='materialButton' href='%s'>PDF</a>" .) }} {{ end }}
{{ with .Params.video }} {{ $s = $s | append (printf "<a class='materialButton' href='%s'>Video</a>" .) }} {{ end }}
{{ with .Params.code }} {{ $s = $s | append (printf "<a class='materialButton' href='%s'>Code</a>" .) }} {{ end }}
{{ (safeHTML (delimit $s " | ")) }}
