<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="unselectable sidebar-about">
        <h1>
            <label  id="title-e" class="title-highlight">e</label
            ><label id="title-g" class="title-normal">g</label
            ><label id="title-o" class="title-normal">o</label
            ><label id="title-r" class="title-normal">r</label>
            <label  id="title-l" class="title-highlight">l</label
            ><label id="title-a" class="title-normal">a</label
            ><label id="title-r2" class="title-highlight">r</label
            ><label id="title-i" class="title-normal">i</label
            ><label id="title-o2" class="title-normal">o</label
            ><label id="title-n" class="title-highlight">n</label
            ><label id="title-o3" class="title-normal">o</label
            ><label id="title-v" class="title-highlight">v</label>
        </h1>
      <p class="lead">
      {{ .Site.Params.description }}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p class="sidebar-links">
    <a href="https://github.com/elrnv">GitHub</a> &bull;
    <a href="https://gitlab.com/elrnv">GitLab</a> &bull;
    <a href="https://linkedin.com/in/egorlarionov">LinkedIn</a> &bull;
    <a href="https://twitter.com/egorlarionov">Twitter</a>
    </p>
    <p>&copy; {{ now.Format "2006"}}. All rights reserved.</p>
  </div>
</aside>
