{{ define "main" -}}
<div class="post">
<div class="thumb_entry">
<img class="profile" src="/img/profile_vertical.jpg" alt="Me in front of Duomo in Florence">
<div>
<h1 class="post-title">Egor Larionov</h1>
I am a researcher currently working at Meta Reality Labs.<br>
I am interested in physically-based animation, geometry processing and scientific computing.
<a href="/about/">More about me</a>.
</div></div>

<h1 class="section-title">Publications</h1>

<ul class="thumbnails">
{{ range .Site.Taxonomies.categories.publication -}}
  <li>
    <div class="thumb_entry">
      <div class="thumb_entry_bullet">
        <a href="{{ .Permalink }}"><img class="thumb" src="{{ .Params.thumb }}"></a>
      </div>
      <div class="thumb_entry_content">
        <a href="{{ .Permalink }}">{{ .Title }}</a>,<br>
        <span style="font-size:0.8rem">{{ range .Params.authors -}}
          {{ if strings.HasSuffix (trim . "*")  "Larionov" }}
              <span class="me">{{ . -}}</span>
          {{- else }}
              {{ . -}}
          {{- end }},
          {{ end }}
          {{ with .Params.author_note }}{{.}}{{ end }}<br>
          {{ .Params.journal }}
          {{ with .Params.year }}
            <time class="pull-right post-list" datetime="{{ . }}">
                {{- . -}}
            </time>
          {{else}}
            <time class="pull-right post-list" datetime="{{ .Date.Format "2006-01-02" }}">
                {{- .Date.Format "2006" -}}
            </time>
          {{- end -}},<br>
        </span>
          <div style="margin-top:0.3rem">{{ partial "asset_links.html" . }}</div>
      </div>
    </div>
  </li>
{{- end }}
</ul>

<h1 class="section-title">Updates</h1>

<div class="posts">
{{ range .Site.RegularPages -}}
<article class="post">
  <h2 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ .Summary }}
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}
</article>
{{- end }}
</div>

</div>
{{- end }}
