{{ define "main" -}}
<h1>{{ .Title }}</h1>
<ul class="thumbnails">
{{ range .Data.Pages -}}
  <li>
    <div class="thumb_entry">
      <div class="small_thumb_entry_bullet">
        <a href="{{ .Permalink }}"><img class="small_thumb" src="{{ .Params.thumb }}"></a>
      </div>
      <div class="thumb_entry_content">
        <a href="{{ .Permalink }}">{{ .Title }}</a>,<br>
        {{ with .Params.authors -}}
            {{ range . }}
                {{ if strings.HasSuffix (trim . "*")  "Larionov" }}
                    <b>{{ . -}}</b>
                {{- else }}
                    {{ . -}}
                {{- end }},
            {{ end }}<br>
        {{ end }}
        {{ with .Params.description }}{{.}}.<br>{{ end }}
        {{ with .Params.author_note }}{{.}}<br>{{ end }}
        <time class="pull-right list-date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{- .Date.Format "Jan 2, 2006" -}}
        </time>,<br>
        {{ partial "asset_links.html" . }}
      </div>
    </div>
  </li>
{{- end }}
</ul>
{{- end }}
