{{ define "main" -}}
<h1>{{ .Title }}</h1>
<ul class="thumbnails">
{{ range .Data.Pages -}}
  <li>
    <div class="thumb_entry">
      <div class="thumb_entry_bullet">
        <a href="{{ .Permalink }}"><img class="thumb" src="{{ .Params.thumb }}"></a>
      </div>
      <div class="thumb_entry_content">
        <a href="{{ .Permalink }}">{{ .Title }}</a>,<br>
        <span style="font-size:0.8rem">
        {{ if .Params.authors -}}
            {{ range .Params.authors }}
                {{ if strings.HasSuffix (trim . "*")  "Larionov" }}
                    <b>{{ . -}}</b>
                {{- else }}
                    {{ . -}}
                {{- end }},
            {{ end }}
        {{ with .Params.author_note }}{{.}}{{ end }}<br>
        {{ end }}
        {{ if .Params.journal }}
        {{ .Params.journal }}
            {{- with .Params.year }}
            <time class="pull-right post-list" datetime="{{ . }}">
                {{- . -}}
            </time>
            {{else}}
            <time class="pull-right post-list" datetime="{{ .Date.Format "2006-01-02" }}">
                {{- .Date.Format "2006" -}}
            </time>
            {{- end -}},<br>
        {{- end -}}
        </span>
        <time class="pull-right list-date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{- .Date.Format "Jan 2, 2006" -}}
        </time>,<br>
        {{ with .Params.description }}<div style="font-size:0.8rem;margin-bottom:0.8rem;margin-top:0.4rem">{{.}}.</div>{{ end }}
        <div style="margin-top:0.3rem">{{ partial "asset_links.html" . }}</div>
      </div>
    </div>
  </li>
{{- end }}
</ul>

{{- end }}
