{{ define "main" -}}
<h1>{{ .Title }}</h1>
<p>
Below is a collection of open-source software tools I developed mainly to aid research.
</p>
<ul class="thumbnails">
{{ range .Data.Pages -}}
<li>
  <div class="thumb_entry">
    <div class="thumb_entry_content">
      <a href="{{ .Permalink }}">
          {{ .Title -}}
      </a>,<br>
      {{ with .Params.authors -}}
          {{ range . }}
              {{ if strings.HasSuffix (trim . "*")  "Larionov" }}
                  <b>{{ . -}}</b>
              {{- else }}
                  {{ . -}}
              {{- end }},
          {{ end }}<br>
      {{ end }}
      {{ with .Params.description }}{{ . }}.<br>{{ end }}
      {{ with .Params.author_note }}{{ . }}<br>{{ end }}
      <time class="pull-right list-date" datetime="{{ .Date.Format "2006-01-02" }}">
          {{- .Date.Format "Jan 2, 2006" -}}
      </time>,<br>
      {{ partial "asset_links.html" . }}
    </div>
  </div>
</li>
{{- end }}
</ul>
{{- end }}
